staging.{{ SITE_DOMAIN }} {
  root /var/www/staging.{{ SITE_DOMAIN }}
  tls {{ TLS_EMAIL }}

  ratelimit / 50 100 second

  proxy / {% for host in STAGING_HOSTS %}{{ hostvars[host]['ansible_host'] }} {% endfor %} {
    transparent
    except /robots.txt
  }

  gzip {
  	level 5
  }

  expires {
	match .*.jpg|.*.png|.*.svg 7d
  }
}

{{ SITE_DOMAIN }}, www.{{ SITE_DOMAIN }} {
  tls {{ TLS_EMAIL }}

  ratelimit / 50 100 second

  proxy / {% for host in PRODUCTION_HOSTS %}{{ hostvars[host]['ansible_host'] }} {% endfor %} {
    transparent
  }

  gzip {
  	level 5
  }

  expires {
	match .*.jpg|*.jpeg|.*.png|.*.svg 7d
  }
}
